<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicAlike"
        tools:targetApi="31">

        <!-- HomeActivity manejará la redirección de Spotify -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="musicalike" android:host="callback" />
            </intent-filter>
        </activity>



        <!-- MainActivity como actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades adicionales -->
        <activity android:name=".si_registrado"/>
        <activity android:name=".no_registrado"/>
        <activity android:name=".SpotifyDetailsActivity" android:exported="true" />
        <activity android:name=".SpotifySearchActivity" android:exported="true" />
        <activity android:name=".SpotifyUserActivity" android:exported="true"/>

    </application>

</manifest>
